<li id="province_list"><%= render :partial => "list_provinces", :locals => {:provinces => provinces, :selected_provinces => selected_provinces} %></li>
<li id="district_list"><%= render :partial => "list_districts", :locals => {:districts => districts, :selected_districts => selected_districts} %></li>
<%= observe_form "search_form", 
	:url => {:action => :update_form_fields}, 
	:update => "provinces_districts",
	:loading => "Element.show('loading')",
	:complete => "Element.hide('loading')" %>
