<ul>
<% for result in search %>
	<li>
		<%= link_to "#{result.acronym}", {:controller => "ngos", :action => "view_details", :id => result}, {:class => 'results-panel-link'} %><br />
		<span class="results-panel-info"><%= "#{result.show_name}" %><br /><%= "#{result.show_district}, #{result.show_country}" %></span>
	</li>
<% end %>
</ul>