<ul>
<% for result in search %>
	<li><%= link_to "#{result.acronym} - #{result.name}", {:controller => "ngos", :action => "view_details", :id => result}, {:class => 'results-panel-link'} %><br />
		<span class="result-panel-info"><%= "#{result.district.name}, #{result.country.name}" %></span>
	</li>
<% end %>
</ul>