<div id="page-title">
	<h1>Search Results</h1>
</div>

<% if !search.nil?  and !search.empty? %>
<ol>
	<%= render :partial => "table_result", :collection => search, :as => :result %>
</ol>
<% else %>
<p>No results match your criteria.</p>
<% end %>

<%= will_paginate search, :params => {:display_option => "table", :keywords => keywords, :advanced => advanced} %>
