<div id="titleHeader">
	<h1 class="floatLeftWhite">The Mashera Project: Results</h1>
</div>

<% if @display_option == "table" %>
	<%= render :partial => "table_results", :locals => {:search => @search} %>
<% else %>
	<%= render :partial => "location_map_results", :locals => {:search => @search} %>
<% end %>