<div id="page-title">
	<h1>Your Visualization (image)</h1>
</div>

<span id="top"></span>
<div id="article-content">

	<div class="article-entry">
		<h4 id="country"></h4>
		<p>To save your image on a PC, right click on the image, then click Save Image As.</p>
		<p>To save your image on a Mac, control+click on the image, then click Save Image As.</p><br />
		<%= image_tag "#{@image_src}" %>
		<h5 class="top-link"></h5>
	</div>

</div>

