<h3>Welcome to The Mashera Project!</h3>

<p>Thank you for signing up. Your account has been approved, and you may now login <%= link_to "here", "http://themasheraproject.org/login"%>.</p>

<p>-The Mashera Project Team</p>