/* Layout for the Mashera Project, copyright Jillian Kozyra 2010 */

/*=========================================================*/
/*================ layout formatting ======================*/
/*=========================================================*/

*{
	margin:0;
	padding:0;
}

h1{
	padding:15px;
	clear:left;
}

h1+a{
	margin:10px 0 10px 25px !important;
	background-color:inherit !important;
}

pre{
	background-color:#eee;
	padding:10px;
}

table{
	width:100%;
	border-collapse:collapse;
	margin:0;
	float:inherit;
}

th:first-child, td:first-child{
	padding-left:20px;
}

th, td{
	padding:.5em;
	border:1px solid #fff;
}

fieldset{
	margin:1em 0;
	border: none;
	border-bottom:1px solid #d9d7ac;
	border-top:1px solid #d9d7ac;
}

form,form div{
	margin:0;padding:0;
	position:relative;
	width:100%;
	overflow:hidden;
}

label em,.label em{
	display:block;
	position:absolute;
	left:100%;
}

.fieldWithErrors{
	padding:2px;
	background-color:red;
	display:table;
}

.ctrlHolder{/* This is the main unit that contains our form elements */
	padding:7px;
}

.ctrlHolder span{
	padding:0 5px 0 5px;
	width:70%;
	text-align:center;
}

div.ctrlHolder select{width:49.7%;}

.buttonHolder{
	overflow:hidden;
	clear:both;
}

.buttonHolder input{
	margin:10px 10px 0 0;
}

/* .inlineLabels */
.inlineLabel,.inlineLabels .inlineLabel {
	width:auto;
	float:none;
	margin:0 1em 0 0;display:inline;
}

.inlineLabel input{
	width:100%;
}

.inlineLabels label,.inlineLabels .label{
	width:45%;/* Required property */
	float:left;
	margin:.3em 2% 0 0;
	padding:0;
	line-height:100%;
	position:relative;
}
.inlineLabels .textInput,.inlineLabels .fileUpload{
	width:45%;/* Required property */
	float:left;
}
.inlineLabels .selectInput{
	width:45%;/* Required property */
	float:left;
}
.inlineLabels textarea{
	width:49.3%;/* Required property */
	height:12em;
	float:left;
}
.inlineLabels .formHint{
	margin-top:0;margin-left:47%;
	clear:both;
}
.inlineLabels table{
	width:45%;
	margin:0px;
	padding:0px;
}

#wrapper{
	margin: 0 auto;
}

#flash-notice {
	border:1px solid green;
	width:650px;
	margin:15px auto;
	height:40px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#flash-warning {
	border:1px solid #ffcc33;
	width:650px;
	margin:15px auto;
	height:40px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#flash-error {
	border:1px solid #cc3300;
	width:650px;
	margin:15px auto;
	height:40px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#login{
	position:absolute;
	right:10px;
	top:10px;
}

#results { /* this is for the results table  */
	margin: 0;
	padding-bottom:10px;
	width: 100%;
}

#detailsPage{
	margin:0 auto;
	width:650px;
}

#detailsPage h1{
	padding:40px 0pt 15px 0;
}

#detailsPage label{
	width:20%;
}

#newForm, #searchForm{
	margin:0 auto;
	margin-top:20px;
	width:650px;
}

#newForm h1, #searchForm h1{
	padding:40px 0pt 15px 0;
}

#newForm label+input{
	width:49.3%;
}

#titleHeader { /* for pages with results-like info, this is the title header, just below toolbar */
	height: 55px;
	width: 100%;
	background: #cc3300;
	clear: both;
	padding-bottom:5px;
}

#footer{
	margin:0 auto;
	padding-bottom:20px;
	width:650px;
}

.buttonHolder{
	padding-right:5px;
	padding-bottom:5px;
}

/*========================================================*/
/*================ style formatting ======================*/
/*========================================================*/

body{
	background-color:#fff;
}

body,p,ol,td{
	font-size:13px;
	line-height:18px;
}

body{
	font-size: small;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	margin: 0 auto;
	line-height:normal;
	
}

h1{
	font-size:2em;
	color:#cc3300;
}

h2,h3,h4{
	color:#cc3300;
}

pre{
	font-size:11px;
}

label em,.label em{
	font-style:normal;
	font-weight:bold;
}

img {
	border-style: none;
}

a{
	text-decoration: none;
	color: #cc3300;
}

a:visited{
	color: #aa2b00;
}

a:hover{
	color:#00628b;
}

table, td{
	font:12px Verdana,Geneva,Arial,Helvetica,sans-serif;
}

th{
	background:#3f4c6b;
	color:#fff;
	text-transform:capitalize;
}

th, td{
	text-align:left;
}

td{
	background:#e5f1f4;
}

tr.alt td {
	background-color: #f8fbfc;  /* striping */
}

fieldset.login {
	padding: 15px 0;
}

.ctrlHolder label{
	font-variant:small-caps;
}

.buttonHolder{
	text-align:right;/* Recommended */
}

.details-link a{
	color:#00628B;
}



.header-link a{
	color:#fff;
}
.header-link a:hover{
	color:#e5f1f4;
}

#footer{
	text-align:center;
	font-variant:small-caps;
	font-size:0.8em;
}

#results h2{
	color: #cc3300;
	padding-left: 15px;
}
#results th:first-child, #results td:first-child {
	padding-left: 20px;
}

#login {
	font-size:14px;
}

#login a{
	color: #3F4C6B;
	font-weight: bold;
}

#titleHeader h1, #titleHeader h2 {
	color:#fff;
}

#flash-notice{background-color:#3c3;color:#fff;}
#flash-notice h3 {color:#fff;padding: 11px;}

#flash-warning{background-color:#fde910;color:#fff;}
#flash-warning h3 {color:#000;padding: 11px;}

#flash-error{background-color:red;color:#fff;}
#flash-error h3 {color:#fff;padding: 11px;}

.pagination {
	text-align: right;
	padding: .2em;
	margin-top:5px;
	margin-right:5px;}
.pagination a, .pagination span {
	padding: .2em .4em; }
.pagination span.disabled {
	color: #AAA; }
.pagination span.current {
	font-weight: bold;
	color: #CC3300; }
.pagination a {
	border: 1px solid #DDDDDD;
	color: #3f4c6b;
	text-decoration: none; }
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #3f4c6b;
  color: white; }
.pagination .page_info {
	color: #aaa;
	padding-top: .8em; }
.pagination .prev_page, .pagination .next_page {
	border-width: 2px; }
.pagination .prev_page {
	margin-right: 0.5em; }
.pagination .next_page {
	margin-left: 0.5em; }


/*======google map styles====================================================*/
#map_canvas {width:100%;height: 59.5em;position:relative;}
#legend-btn {
	text-align:center;
	font-size:12px;
	font-family: Arial, Helvetica;
	font-weight:bold;
	height:16px;
	width:65px;
	position:relative;
	left:183px;
	top:1px;
	border-style: solid;
	border-color: rgb(52, 86, 132) rgb(108, 157, 223) rgb(108, 157, 223) rgb(52, 86, 132);
	border-width: 1px;
	background-color:#fff;
}
#legend-btn:hover {cursor:pointer;}
#legend-btn.on {background-color: #d20217; color: #fff;}

#legend-container {position:absolute;right:8px;top:111px;width:250px;height:auto;}

#map_canvas {position:relative;width:auto;height: 1000px;}

#legend-contents {background-color:#fff;border:1px solid #999;padding:10px 18px;}
#legend-contents p{font-weight: bold;}
#legend-contents img{margin:0 0 0 0;}

#results-panel {position:absolute;left:0;top:60px;width:350px;background:#fff;}
#results-panel ul{
	list-style:none;
}
#results-panel-title{position:relative; padding:4px 10px;}
#results-panel-title{
	background:#3f4c6b;
	color:#fff;
	text-transform:capitalize;
}
#results-panel-title h3{
	background:#3f4c6b;
	color:#fff;
	font-variant:small-caps;
}
#results-panel-contents{
	height:956px;
	overflow:auto;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:4px 10px;
}

#result-panel-contents ul{
	list-style:none;
}

.results-panel-link a{
	color:#00628B;
	text-decoration: underline
}