/* Layout for the Mashera Project, copyright Jillian Kozyra 2010 */

@font-face {
	font-family: 'TwCenMTRegular';
	src: url('../fonts/tw_cen_mt-webfont.eot');
	src: local('☺'), url('../fonts/tw_cen_mt-webfont.woff') format('woff'), url('../fonts/tw_cen_mt-webfont.ttf') format('truetype'), url('../fonts/tw_cen_mt-webfont.svg#webfontejY6JHnQ') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*=========================================================*/
/*================ layout formatting ======================*/
/*=========================================================*/

*{
	margin:0;
	padding:0;
}

table{
	margin:0px auto;
	width:890px;
}

table th{
	padding:4px 6px;
}

table td{
	padding:4px 4px;
}

p{
	margin:0 20px;
	clear:both;
}

form{
	margin:0 20px;
	clear:both;
}

fieldset {
	margin:20px 0;
	padding:0px;
	clear:both;
}

label {
  display: inline-block;
	margin:0 auto;
	width:250px;
}

ol, dl{
	clear:both;
	margin:0 0 0px 20px;
}

fieldset ol {
  margin: 0;
  padding: 0;
}

fieldset li {
  padding: 5px 0px;
  margin: 0;
}

select{
	padding:1px;
}

input[type="checkbox"]{
	margin:0px 14px;
	width:12px;
	height:12px;
}

#title-div{
	width:100%;
	padding:10px 0 5px 0;
}

#project-title{
	
}

#wrapper{
	clear:both;
	width:900px;
	margin:0 auto;
	min-height:500px;
}

#content{
	margin:40px auto 10px auto;
	padding:15px;
	width:900px;
	min-height:100px;
}

#page-title{
	float:left;
	margin: 10px 0px 20px 20px;
}

#page-title h1{
	padding: 0px;
}



/* forms */

#mashera-form, #mashera-search-form{
	width:750px;
	margin:0px auto;
	clear:both;
}

#mashera-form input[type="text"], #mashera-form input[type="password"], #mashera-form textarea,  #mashera-form input[type="file"]{
	width:300px;
}

#mashera-form input[type="checkbox"]{
	float:right;
	right:30px;
}

#mashera-form select{
	width:305px;
}

#mashera-search-form input[type="text"]{
	width:450px;
}

#mashera-search-form select{
	width:455px;
}

#mashera-form #third-col-title{
	float:right;
}

#advanced_provinces, #advanced_districts{
	margin-left:-4px;
}

.buttonHolder{
	float:right;
}

.buttonHolder input{
	margin:0px 2px;
	min-width:45px;
}


/* footer */

#footer{
	font-family:'TwCenMTRegular', sans-serif;
	margin:30px auto 0px auto;
	overflow:hidden;
	list-style:none;
}

#footer p{
	font-family:'TwCenMTRegular', sans-serif;
	clear:both;
	padding:0px 0px 10px 0px;
}

#footer-list{
	position:relative;
	margin:0px auto 5px auto;
}

#footer ul li{
	display:inline;
	list-style:none;
}

#footer li{
  padding: 0 5px 0 5px;
  white-space: nowrap;
}

#loading{
	position:absolute;
	width:100%;
	height:100%;
	background:url(/images/spinner.gif) no-repeat center #344E82;
	z-index:2;
	opacity:0.5;
	overflow:auto;
	top:0;
	left:0;
}


.ngo-result{
	margin:0px 0px 10px 0px;
}

.ngo-result p{
	margin:0;
	padding:0;
}

#page-links{
	margin:10px 0px;
}


#map_canvas{
	position:relative;
	width:auto;
	height:620px;
}

#country-maps{
	position:relative;
	margin-left:100px;
	width:auto;
}


/*=========================================================*/
/*================= style formatting ======================*/
/*=========================================================*/

body{
	background:#f0ecce;
}

table{
	font-family: Geneva,Verdana,sans-serif;
	border-collapse:collapse;
}

table th{
	background:#638BAD;
	border:1px solid white;
}

table td{
	font-size:12px;
	border:1px solid white;
}

tr:hover td, tr.alt:hover td {
	color:white;
	background: #1c284e;
}

tr td{
	background:#EDF3F7;
}

tr.alt td{
	background:#DFECF7;
}

h1, h2, h3, h4, h5, label{
	font-family:'TwCenMTRegular', sans-serif;
	color:#233161;
}

p{
	font-family: Geneva,Verdana,sans-serif;
	font-size:13px;
	line-height:16px;
	color:#1c284e;
}

a, .details-link a{
	color:#78AAB9;
	text-decoration:none;
}

a:hover{
	color:#D4923B;
}

label{
  vertical-align: top;
	font-variant:small-caps;
	font-size:16px;
}

fieldset{
	border:none;
}

fieldset li {
  list-style: none;
}

#title-div{
	background-color: #4B7FAD;
	border-bottom:1px solid #78AAB9;
	text-align:center;
}

#title-div h1{
	color:#ffffff;
	font-size:36px;
	font-weight:bold;
	font-variant:small-caps;
}

#title-div h3{
	font-size:16px;
	color:#ffffff;
	font-weight:normal;
}

#project-title{
	
}

#content{
	border:2px solid #233161;
	background:#fff;
}

#content li{
	list-style:none;
}

#mashera-form li{
	font-family: Geneva,Verdana,sans-serif;
	font-size:13px;
}

/* footer */
#footer{
	text-align:center;
	font-size:12px;
}

#footer p{
	font-size:11px;
}

#mashera-form, #mashera-search-form, #nav-bar, .details-link, #page-links, table th{
	font-family:'TwCenMTRegular', sans-serif;
}

.ngo-result p{
	font-size:12px;
}




