/*=========================================================*/
/*================ style formatting ======================*/
/*=========================================================*/


#density-results-panel{
	float:right;
	width:350px;
	border-left:1px solid #233161;
}

#density-results-panel-contents{
	height:618px;
	overflow:auto;
	padding: 4px 10px 5px 45px;
}

#density-result-panel-contents li{
	margin-bottom:5px;
}

#density-results-panel-title{
	position:relative;
	padding:4px 25px;
}


#results-panel{
	position:absolute;
	left:0;
	top:117px;
	width:350px;
	background:#fff;
}

#results-panel-contents{
	height:585px;
	overflow:auto;
	padding-top:4px;
	padding-left:45px;
	padding-bottom:2px;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

#result-panel-contents li{
	margin-bottom:5px;
}

#results-panel-title{
	position:relative;
	padding:4px 25px;
}

#wrapper, #content{
	padding:0px;
}

#clear-div{
	clear:both;
}



/*======google map styles====================================================*/

.results-panel-info p{

}

.density-map{
	margin:30px 0 15px 0 !important;
}

#result-panel-contents{
	border-right:1px solid #233161;
	border-bottom:1px solid #233161;
}

#results-panel-title{
	background:#4B7FAD;
	color:#fff;
}

#results-panel-title h3{
	background:#4B7FAD;
	color:#fff;
	font-variant:small-caps;
	font-weight:normal;
	font-size:20px;
}

#results-panel ul, #result-panel-contents ul{
	list-style:decimal;
	font-family:'TwCenMTRegular', sans-serif !important;
}



#density-result-panel-contents{
	border-right:1px solid #233161;
	border-left:1px solid #233161;
}


#density-results-panel-title{
	background:#4B7FAD;
	color:#fff;
}

#density-results-panel-title h3{
	background:#4B7FAD;
	color:#fff;
	font-variant:small-caps;
	font-weight:normal;
	font-size:20px;
}

#density-results-panel ul, #density-result-panel-contents ul{
	list-style:decimal;
	font-family:'TwCenMTRegular', sans-serif !important;
}

#density-results-panel li{
	list-style:decimal;
	margin-bottom:5px;
}


.results-panel-link a{
	color:#00628B;
	text-decoration:underline !important;
}

.results-panel-info{
	font-size:11px;
	font-family: Geneva,Verdana,sans-serif;
}

.density-map h3{
	margin-bottom:5px !important;
}
