<div id="mashera-form">
	
	<fieldset>

		<ol>
		<li>
		  <b>Name:</b>
		  <%= @sector.name %>
		</li>
		</ol>
	
	</fieldset>


	<div id="page-links">
	<%= link_to 'Edit', edit_sector_path(@sector) %> |
	<%= link_to 'Back', sectors_path %>
	</div>

</div>
