<div id="newForm">

	<h3>Thanks!</h3>
	<fieldset class="inlineLabels">
		<br />
		<p>Thank you for signing up on The Mashera Project. You will receive an email when your account has been approved.</p>
		<br />
	</fieldset>

</div>