<div id="page-title">
	<h1>Contact</h1>
</div>

<span id="top"></span>
<div id="article-content">

	<div class="article-entry">
		<h4 id="concept">Contact Information</h4>
		<p>For more information about The Mashera Project, or if you have any questions or comments, please email <%= mail_to "jkozyra@themasheraproject.org", nil, :replace_at => " AT " %>.</p>
		<h5 class="top-link"></h5>
	</div>
	
	
</div>