<% content_for :head do %>
  <%= javascript_include_tag "gStats" %>
<% end %>

<div id="page-title">
	<h1>Statistical Summary</h1>
</div>

<span id="top"></span>
<div id="article-content">
	<div id="article-select">
		<form name="form">
        <select name="select" size="1">
					<option value="" selected="selected">View Index...</option>
					<option value="#country">By Country</option>
					<option value="#sector">By Sector</option>
					<option value="#province">By Province</option>
				</select>
				<input type="button" value="Go!" onclick="jumpToSection()" />
		</form>
	</div>
	<div class="article-entry">
		<h4 id="country">By Country</h4>
		<p><div id="chart_div_country"></div></p>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
	
	<div class="article-entry">
		<h4 id="sector">By Sector</h4>
		<p><div id="chart_div_sector"></div></p>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
		
	</div>
	
	
	<div class="article-entry">
		<h4 id="province">By Province</h4>
		<%= render :partial => "country", :collection => @countries %>
		<h5 class="top-link"><a href="#top">Back to Top</a></h5>
	</div>
	
<!--	<h4 id="concept">By Sector</h4>
	<p><img src="http://chart.apis.google.com/chart?chs=300x225&cht=p&chd=s:Uf9a&chdl=30%C2%B0|40%C2%B0|50%C2%B0|60%C2%B0" width="300" height="225" alt="" /></p>
	<h5 class="top-link"><a href="#top">Back to Top</a></h5>

	http://chart.apis.google.com/chart
	   ?chs=300x225 size
	   &cht=p type
	   &chds=-5,100
	   &chd=t:32.787,50.82,100,42.623 data
	   &chdl=30°|40°|50°|60° data labels
	   &chdlp=t legend position
	   &chl=adf|adf|afffds|adsf chart labels
	   &chma=|5,5
	   &chtt=My+Chart

		http://chart.apis.google.com/chart
		   ?chxs=0,676767,10.167
		   &chxt=x
		   &chs=300x225
		   &cht=p
		   &chco=3072F3,FF9900,990066,008000,FFCC33,3399CC
		   &chds=-5,100
		   &chd=t:32.787,50.82,100,42.623
		   &chdl=30°|40°|50°|60°
		   &chdlp=t
		   &chl=adf|adf|afffds|adsf
		   &chma=|5,5
		   &chtt=My+Chart -->
</div>

