<div id="mashera-form">
	
	<% form_for(@district) do |f| %>
	<fieldset class="inlineLabels">
	  <%= f.error_messages %>
	
		<%= render :partial => 'fields', :locals => {:f => f, :provinces => @provinces, :district => @district} %>

	  <div class="buttonHolder">
	    <%= f.submit 'Add' %>
	  </div>
	</fieldset>
	<% end %>

	<%= link_to 'Back', districts_path %>
	
</div>