<div id="mashera-form">
	
	<h1>Country Details</h1>
	
	<fieldset>

		<div class="ctrlHolder">
		  <b>Name:</b>
		  <%= @country.name %>
		</div>

	</fieldset>

	<div id="page-links">
	<%= link_to 'Edit', edit_country_path(@country) %> |
	<%= link_to 'Back', countries_path %>
	</div>

</div>
